/* Primary Font "Inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Colors */
  --color-primary: "#4F46E5";
  --color-secondary: "#64748B";
  --color-accent: "#0EA5E9";
  --color-text: "#1F2937";
  --color-bg: "#FFFFFF";
  --color-info: "#3ABFF8";
  --color-success: "#36D399";
  --color-warning: "#FBBD23";
  --color-error: "#F87272";

  /* ... */
}

* {
  font-family: "Inter", sans-serif;
}
